# Directories

**/__pycache__/
.vscode/
.venv/
data/
images/
SED_plots/
YSO_selection/
dist/
dist_old/
docs/build/
build/


# Specific files

.coverage

*.csv
*.png
*.txt
*.swp

**/*.png
**/*.fit
**/*.fits

**/classify_old_11th_of_June_2024.py


# Allow

!docs/requirements.txt